.lmj-text{
    color : white;
    background-color: black;
    text-align : center;
    height: 100%;
    width: 100%;
}
.lmj-background{
    background-color: black;
    text-align : center;
    height: 100%;
    width: 100%;
}