@import './styles/Menu.css';
@import './styles/Cart.css';
@import './styles/Bm.css';
@import './styles/Beatmaker.css';
@import './styles/Home.css';
@import './styles/Form.css';
.lmj-app {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  height: 100%;
  width: 1470px;
}